<div class="row-fluid">
  <div class="span6">
    <div>
      <h4>Caching</h4>
      <label class="checkbox">
        <input ng-model="config.cache" type="checkbox" ng-change="save()" />
        Cache the project data between runs
      </label>
    </div>
  </div>
  <div class="span6">
    <h4>Service Hooks</h4>
    <p>
      Service Hooks are the means by which gitlab notifies strider of new
      commits and pull requests to your repository.
    </p>
    <p>
      We already registered the requisite hooks when you added this project, but
      if you want to remove them or add them back, you can do so here.
    </p>
    <button
      class="btn btn-warning"
      ng-click="deleteWebhooks()"
      ng-disabled="loadingWebhooks"
    >
      Delete Service Hooks
    </button>
    <button class="btn" ng-click="addWebhooks()" ng-disabled="loadingWebhooks">
      Add Service Hooks
    </button>
    <i class="icon-spin icon-refresh" ng-show="loadingWebhooks"></i>
  </div>
</div>
